<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Title</title>

</head>
<body>
<h1>Заголовок</h1> — главный заголовок страницы
<h2>Подзаголовок</h2> — для заголовков второго уровня
<h3>Заголовок третьего уровня</h3> … и так далее, вплоть до
<p>Параграф</p>
<em>текст</em> — курсивный шрифт
<strong>текст</strong> — жирный шрифт
<br> — переход на следующую строку (внутрь br нельзя ничего поместить, также для него нет закрывающего тега)
<a href="http://din.lv">link</a> создаёт ссылку
<ul><li>первый элемент</li><li>второй элемент</li></ul> создаёт список, такой же как этот!
<div></div> определяет раздел страницы

</body>
</html>